<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge"> 
    {% load bootstrap3 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <title>嘉宾管理</title>
</head>
<body>
    <!-- nav bar -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="/event_manage/">Guest Mangement Board</a>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="/event_manage/">发布会</a>
                    </li>
                    <li class="active">
                        <a href="#">嘉宾</a>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="#">{{user}}</a>
                    </li>
                    <li>
                        <a href="/logout/">退出</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- search function -->
    <div class="page-header" style="padding-top: 60px;">
        <div id="search-bar" class="navbar-collapse collapse">
            <form action="/search_guest/" class="navbar-form" method="GET">
                <div class="form-group">
                    <input type="text" name="name" placeholder="嘉宾名称">
                </div>
                <button type="submit" class="btn btn-success">搜索</button>
            </form>
        </div>
    </div>

    <!-- guest list -->
    <div class="row" style="padding-top: 10px;">
        <div class="col-md-8">
            <table class="table table-striped">
                <thead>
                    <th>id</th>
                    <th>名称</th>
                    <th>手机</th>
                    <th>Email</th>
                    <th>签到</th>
                    <th>发布会</th>
                </thead>
                <tbody>
                    {% for guest in guests %}
                    <tr>
                        <td>{{ guest.id }}</td>
                        <td>{{ guest.realname }}</td>
                        <td>{{ guest.phone }}</td>
                        <td>{{ guest.email }}</td>
                        {% if guest.sign %}
                        <td style="color: green">已签到</td>
                        {% else %}
                        <td style="color:red">未签到</td>
                        {% endif %}
                        <td>{{ guest.event }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <!-- page number -->
    <div class="pagination">
        <span class="step-links">
            {% if guests.has_previous %}
                <a href="?page={{ guests.previous_page_number }}">上一页</a>
            {% endif %}
                <span class="current">
                    Page {{ guests.number }} of {{ guests.paginator.num_pages }}
                </span>
            {% if guests.has_next %}
                <a href="?page={{ guests.next_page_number }}">下一页</a>
            {% endif %}
        </span>
    </div>
</body>
</html>